.category-list {
  .ul-reset();
}

.category-list__link {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 87px;
  font-size: 19px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    .pseudo();
    top: 45%;
    right: 26px;
    width: 61px;
    transform: translateY(-50%);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: top center;
  }

  &:hover::after{
    opacity: 0.7;
  }

  &:active::after{
    opacity: 0.3;
  }

  &--furnishings {
    background-color: #63d1bb;

    &:hover {
      background-color: #59d5bc;
    }

    &::after {
      height: 62px;
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }

    &::after {
      height: 61px;
      background-image: url("../img/icon-toy.svg");
    }
  }
}

@media @tablet-widths {
  .category-list {
    display: flex;
  }

  .category-list__item {
    width: 50%;
    background-color: #ffffff;
  }

  .category-list__link {
    padding-left: 36px;
    padding-right: 94px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
