.category-list {
  .ul-reset();
  margin-top: 46px;
}

.category-list__link {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 30px;
  padding-right: 87px;
  font-size: 19px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;

  &::after {
    .pseudo();
    top: 50%;
    right: 26px;
    width: 61px;
    transform: translateY(-50%);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: top center;
  }

  &--furnishings {
    background-color: #63d1bb;

    &::after {
      height: 62px;
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: #56c3b2;

    &::after {
      height: 61px;
      background-image: url("../img/icon-toy.svg");
    }
  }
}

@media @tablet-widths {
  .category-list {
    .clearfix();
  }

  .category-list__item {
    .clearfix();
    float: left;
    width: 50%;
  }

  .category-list__link {
    float: left;
    width: calc(~"100% - 130px");
    padding-left: 36px;
    padding-right: 94px;
  }
}
