.contacts {
  margin-bottom: 39px;
  padding-top: 40px;

  &__title {
    .block-title-text();
    margin-bottom: 25px;
    font-size: 18px;
  }

  &__info {
    margin: 0;
    margin-bottom: 38px;
    font-size: 0;
  }

  &__term {
    display: inline-block;
    width: 60px;
    margin-right: 19px;
    font-size: 15px;
    line-height: 30px;
    vertical-align: top;
  }

  &__definition {
    display: inline-block;
    width: 181px;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
    vertical-align: top;

    &:first-of-type {
      margin-bottom: 30px;
    }

    &--narrow {
      width: 150px;
    }
  }

  &__map {
    width: 320px;
    height: 457px;
    margin: 0 auto;
    margin-bottom: 39px;
    background: #edeae3 url("../img/map-mobile@1x.jpg") no-repeat;
  }
}
