.form__field-group {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: 0;

  &:last-of-type {
    margin-bottom: 16px;
  }

  &--margin {
    padding-top: 7px;
  }
}

.form__field-group *:last-child {
  margin-bottom: 0;
}

.form__field-group-title {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 16px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: @contrast-color;
  text-transform: uppercase;

  &--big-margin {
    margin-bottom: 27px;
  }

  &--small-margin {
    margin-bottom: 15px;
  }
}

.form label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
}

.form__radio-button-block  {
  margin-bottom: 3px;
}

.form__checkbox-block {
  margin-bottom: 17px;
}

.form__radio-button,
.form__checkbox {
  display: none;
}

.form__radio-button-block label,
.form__checkbox-block label {
  padding: 13px;
  padding-left: 63px;
  cursor: pointer;
}

.form__text-field-block {
  margin-top: 4px;
  margin-bottom: 22px;
}

.form__text-field {
  width: 100%;
  padding-bottom: 15px;
  border: 0;
  border-bottom: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;

  &:focus {
    outline: 0;
  }
}

.form__text-field-block label {
  margin-bottom: 12px;
}

.form__big-text-field {
  display: block;
  width: calc(~"100% - 36px");
  min-height: 106px;
  padding: 16px;
  border: 2px solid @button-field-border-color;
  font-size: 17px;
  line-height: 18px;
  resize: none;

  &:focus {
    outline: 0;
  }
}

.form__field-mark {
  margin: 0;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}

@media @tablet-widths {
  .form {
    .clearfix();
  }

  .form label {
    font-size: 19px;
  }

  .form__field-group {
    margin-bottom: 0;
    padding: 40px 0;
    font-size: 0;

    &:nth-of-type(5) {
      padding-top: 0;
    }
  }

  .form__field-group:last-of-type {
    margin-bottom: 50px;
  }

  .form__field-group-title {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }

  .form__controls {
    display: inline-block;
    width: 75%;
    vertical-align: top;
  }

  .form__checkbox-block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }

  .form__text-field-block{
    .clearfix();
  }

  .form__text-field-block label {
    float: left;
    width: 20%;
    margin-right: 25px;
  }

  .form__text-field {
    &--name {
      float: left;
      width: 74%;
    }
  }

  .form__button {
    float: left;
    width: 230px;
  }

  .form__field-mark {
    float: right;
    width: 50%;
    padding-top: 16px;
    text-align: right;
  }
}

@media @desktop-widths {
  .form__description {
    width: 66.666666%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .form__field-group-title {
    width: 16.666666%;
    text-align: center;
  }

  .form__controls {
    width: 66.666666%;

    &--wide {
      width: 789px;
    }
  }

  .form__checkbox-block {
    width: 33%;
  }

  .form__text-field-block label {
    float: left;
    width: 15%;
    margin-right: 25px;
  }

  .form__text-field {
    &--name {
      width: 81%;
    }
  }

  .form__button {
    margin-left: 17%;
  }

  .form__field-mark {
    width: 33.333334%;
    margin-right: 17%;
  }
}
