.form__fieldset {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 30px;
  border: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__field-group {
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;
  border: 0;

  &--margin {
    margin-bottom: 14px;
  }
}

.form__field-group-title {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: @contrast-color;
  text-transform: uppercase;

  &::after {
    .pseudo();
    top: 50%;
    right: 0;
    width: 70%;
    height: 1px;
    background-color: @contrast-color;
  }

  &--name {
    margin-top: 0;
    margin-bottom: 31px;
  }

  &--small-margin {
    margin-top: 12px;
    margin-bottom: 22px;
  }

  &--big {
    margin-bottom: 25px;
  }
}

.form__radio-button-block  {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 0px;
  min-height: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox-block {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding: 10px 0;
  min-height: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;

  &--radio,
  &--checkbox {
    position: relative;
    padding-left: 63px;
    cursor: pointer;
  }

  &--radio {
    &::before {
      .pseudo();
      top: 13px;
      left: 0;
      width: 34px;
      height: 34px;
      border: 2px solid @button-border-color;
      border-radius: 50%;
    }

    &:hover::before {
      border-color: @contrast-extra-color;
    }

    &:active::before {
      border-color: #c7c7c7;
    }
  }

  &--checkbox {
    &::before {
      .pseudo();
      top: 8px;
      left: 0;
      width: 36px;
      height: 35px;
      border: 2px solid @button-border-color;
    }

    &:hover::before {
      border-color: @contrast-extra-color;
    }

    &:active::before {
      border-color: #c7c7c7;
    }
  }

  &--modal-checkbox {
    position: relative;
    width: 82px;
    height: 52px;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 16px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    text-align: center;
    cursor: pointer;

    &::before {
      .pseudo();
      top: 0;
      left: 0;
      width: 82px;
      height: 52px;
      border: 2px solid #ececec;
      box-sizing: border-box;
    }

    &:hover::before {
      border-color: #c7c7c7;
    }

    &:active::before {
      border-color: #63d1bb;
    }
  }
}

.form__input {
  &--radio,
  &--checkbox,
  &--modal-checkbox {
    display: none;
  }

  &--name {
    width: 74%;
  }

  &--text {
    width: 85%;
    padding-bottom: 16px;
    border: 0;
    border-bottom: 2px solid #000000;
    font-size: 17px;
    line-height: 18px;
  }

  &--text:hover {
    border-color: #62d1ba;
  }

  &--text:focus {
    outline: 0;
  }

  &--icon {
    border: none;
  }

  &--big-text {
    display: block;
    width: calc(~"100% - 36px");
    min-height: 106px;
    padding: 16px;
    border: 2px solid @button-field-border-color;
    font-size: 17px;
    line-height: 18px;
    resize: none;

    &:hover {
      border-color: #62d1ba;
    }

    &:focus {
      outline: 0;
    }
  }
}

.form__input--radio:checked + .form__label--radio::after {
  .pseudo();
  top: 23px;
  left: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: @contrast-extra-color;
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  .pseudo();
  top: 20px;
  left: 10px;
  width: 33px;
  height: 22px;
  background: url("../img/icon-tick.svg") no-repeat;
  background-size: 22px 16px;
}

.form__text-field-block {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  &--icon {
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid #000000;
  }
  &--icon:hover {
    border-color: #62d1ba;
  }

  &--icon svg path {
    fill: #d1d1d1;
  }

  &--icon:hover svg path {
    fill: #62d1ba;
  }
}

.form__text-field-block .form__label {
  margin-bottom: 12px;
}

.form__field-mark {
  margin-top: 0;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}

.form__modal-text {
  display: block;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.form__modal-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.form__input--modal-checkbox:checked + .form__label--modal-checkbox::before {
  border-color: #63d1bb;
}

.form__modal-button {
  border: none;
  color: #ffffff;
  background-color: #63d1bb;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@media @tablet-widths {
  .form__fieldset {
    padding: 0 50px;
    margin-bottom: 15px;

    &--tel {
      margin-bottom: 0;
    }
  }

  .form__field-group {
    display: flex;
    margin-bottom: 0;
    padding-top: 41px;
    padding-bottom: 40px;
    font-size: 0;

    &:nth-of-type(5) {
      padding-top: 0;
    }

    &--background,
    &--background .form__input {
      background-color: @background-color;
    }

    &--name {
      padding-top: 46px;
    }

    &--tel {
      padding-top: 55px;
      padding-bottom: 20px;
    }

    &--email {
      padding-top: 12px;
      padding-bottom: 47px;
    }

    &--margin {
      padding-bottom: 48px;
    }
  }

  .form__field-group-title {
    width: 25%;

    &::after {
      display: none;
    }

    &--color {
      margin-top: 28px;
    }

    &--small-margin {
      margin-top: 5px;
    }
  }

  .form__controls {
    width: 75%;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__radio-button-block {
    padding-top: 0;

    &:first-of-type {
      margin-bottom: 37px;
    }
  }

  .form__checkbox-block {
    width: 45%;
    padding: 18px 0;

    &:nth-child(2n-1) {
      margin-right: 37px;
    }
  }

  .form__label {
    font-size: 19px;

    &--radio {
      padding-left: 80px;
    }

    &--radio::before {
      top: 0;
      width: 46px;
      height: 46px;
    }

    &--checkbox {
      padding-left: 80px;
    }

    &--checkbox::before {
      width: 50px;
      height: 48px;
    }
  }

  .form__input--text {
    padding-left: 18px;
    font-size: 19px;
    line-height: 18px;

    &--big-text {
      font-size: 19px;
      line-height: 18px;
    }
  }

  .form__input--radio:checked + .form__label--radio::after {
    top: 14px;
    left: 14px;
    width: 22px;
    height: 22px;
  }

  .form__input--checkbox:checked + .form__label--checkbox::after {
    background-size: 33px 22px;
  }

  .form__text-field-block{
    display: flex;
    margin-bottom: 34px;
  }

  .form__text-field-block .form__label {
    margin-right: 25px;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
  }

  .form__button {
    order: -1;
    width: 230px;
    height: 52px;
  }

  .form__field-mark {
    width: 50%;
    padding-top: 8px;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }

  .form__modal-text {
    margin-bottom: 26px;
    font-size: 17px;
  }
}

@media @desktop-widths {
  .form__description {
    width: 66.666666%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .form__fieldset {
    margin-bottom: 60px;

    &--tel {
      margin-bottom: 0;
    }

    &--email {
      margin-bottom: 50px;
      padding-bottom: 47px;
    }
  }

  .form__field-group {
    &--color {
      padding-top: 28px;
      padding-bottom: 50px;
    }

    &--name {
      padding-top: 5px;
    }

    &--tel {
      padding-top: 50px;
      padding-bottom: 0px;
    }

    &--email {
      padding-top: 35px;
    }
  }

  .form__field-group-title {
    width: 11%;
    margin-top: 23px;
    margin-left: 12px;
    text-align: left;

    &--color {
      margin-top: 41px;
    }

    &--name,
    &--small-margin {
      margin-top: 5px;
    }

    &--big {
      margin-top: 14px;
    }
  }

  .form__controls {
    width: 66.666666%;

    &--checkbox {
      width: 100%;
      margin-left: 10px;
    }
  }

  .form__checkbox-block {
    width: 215px;

    &:nth-child(2n-1) {
      margin-right: 0;
    }

    &:nth-child(n) {
      margin-right: 48px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .form__text-field-block .form__label {
    margin-right: 25px;
  }

  .form__label {
    &--radio {
      padding-top: 10px;
    }

    &--checkbox {
      padding-top: 20px;
    }
  }

  .form__input {
    &--name {
      width: 81%;
    }

    &--icon {
      width: 100%;
    }
  }

  .form__footer {
    width: 700px;
    margin-top: 48px;
  }
}
