.intro{
  margin-bottom: 22px;
  padding-top: 70px;
  border-top: 1px solid @border-extra-color;
  background-color: #f1f1f1;

  &--main-page {
    background: none;
  }

  &__title {
    width: 250px;
    margin: 0 auto;
    padding-bottom: 76px;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    color: @title-text-color;
    text-align: center;
  }
}
