.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.main-menu__button {
  position: absolute;
  top: 31px;
  right: 0;
  display: block;
  width: 20px;
  height: 14px;
  padding: 0;
  border: none;
  font-size: 0;
  cursor: pointer;

  &--open {
    background: url("../img/icon-menu-open.svg") no-repeat;
  }

  &--close {
    top: 28px;
    width: 21px;
    height: 20px;
    background: url("../img/icon-menu-close.svg") no-repeat;
  }

  &:focus {
    outline: none;
  }
}

.main-menu__list {
  .ul-reset();
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 100%);
  width: 320px;

  &--hide {
    display: none;
  }

  &--user {
    transform: translate(-50%, 200%);
  }

  &--extra {
    display: none;
  }
}

.main-menu__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 34px;
  padding-left: 56px;
  padding-right: 20px;
  border-top: 1px solid #ececec;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: @title-text-color;
  text-decoration: none;
  background-color: #ffffff;
}

@media @tablet-widths {
  .main-menu {
    justify-content: space-between;
  }
  .main-menu__button {
    display: none;
  }

  .main-menu__list {
    display: flex;
    position: static;
    transform: none;
    min-width: 380px;

    &--main {
      order: 2;
      margin-bottom: -37px;
    }

    &--extra {
      display: none;
    }

    &--user {
      justify-content: flex-end;
    }
  }

  .main-menu__item {
    &--main {
      margin-right: 36px;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  .main-menu__link {
    padding: 0;
    padding-top: 13px;
    border: 0;
    font-size: 15px;
    background-color: transparent;

    &--user {
      min-height: 60px;
      padding-top: 27px;
    }

    &--search {
      min-width: 82px;
      border-left: 1px solid @border-extra-color;
      font-size: 0;
    }

    &--cart {
      padding-left: 83px;
      border-left: 1px solid @border-extra-color;
    }
  }
}

@media @desktop-widths {
  .main-menu__list {
    &--main {
      order: -1;
    }

    &--extra {
      order: 3;
      display: flex;
      margin-bottom: -50px;
    }

    &--user {
      order: 2;
    }
  }

  .main-menu__item {
    &--main {
      margin-right: 0;

      &:nth-child(odd) .main-menu__link {
        width: 184px;
      }

      &:nth-child(even) .main-menu__link {
        padding-left: 35px;
        border-left: 1px solid @border-extra-color;
      }
    }

    &--extra {
      &:nth-child(odd) .main-menu__link {
        width: 184px;
      }

      &:nth-child(even) .main-menu__link {
        padding-left: 35px;
      }
    }
  }

  .main-menu__link {
    padding-top: 27px;
    font-size: 17px;

    &--main {
      min-height: 60px;
    }

    &--extra {
      font-size: 15px;
    }

    &--search {
      font-size: 0;
    }
  }
}
