.main-menu__list {
  .ul-reset();
}

.main-menu__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 34px;
  padding-left: 56px;
  padding-right: 20px;
  border-top: 1px solid #ececec;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: @title-text-color;
  text-decoration: none;
}
