.main-menu {
  &__list {
    .ul-reset();
  }

  &__link {
    display: block;
    padding-top: 24px;
    padding-bottom: 34px;
    padding-left: 76px;
    border-top: 1px solid #ececec;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: @title-text-color;
    text-decoration: none;
  }
}
