.product {
  padding-top: 5px;
  padding-bottom: 38px;
  background-color: #ffffff;
}

.product__name {
  .block-title-text();
  margin-bottom: 8px;
}

.product__mark {
  margin: 0;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: @contrast-color;
  text-transform: uppercase;
}

.product__description {
  margin-top: 0;
  margin-bottom: 18px;
}

.product__characteristics {
  width: 100%;
  margin-bottom: 28px;
  line-height: 20px;
}

.product__characteristics tr {
  border-bottom: 1px solid @border-extra-color;
}

.product__item {
  .clearfix();
}

.product__characteristic {
  float: left;
  width: 68px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 31px;
  border-bottom: 1px solid @border-extra-color;
}

.product__definition {
  float: right;
  width: 161px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom: 1px solid @border-extra-color;
  text-align: left;
}

.product__picture {
  display: block;
  margin-bottom: 24px;
}

.product__price {
  margin-bottom: 32px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

@media @tablet-widths {
  .product {
    margin-bottom: 59px;
  }

  .product__container {
    position: relative;
  }

  .product__name {
    .block-title-text--tablet();
    display: inline-block;
    margin-bottom: 50px;
  }

  .product__mark {
    display: inline-block;
    width: 90px;
    text-align: center;
  }

  .product__description,
  .product__characteristics,
  .product__price,
  .product__button {
    width: calc(~"50% - 44px");
  }

  .product__description {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
  }

  .product__characteristics {
    margin-bottom: 50px;
  }

  .product__picture {
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: -1;
    width: calc(~"50% - 50px");
    height: auto;
    margin: 0;
  }

  .product__price {
    margin-bottom: 39px;
    font-size: 20px;
  }
}

@media @desktop-widths {
  .product {
    margin-bottom: 82px;
  }

  .product__name {
    .block-title-text--desktop();
    margin-left: 175px;
  }

  .product__mark {
    position: absolute;
    left: 0;
  }

  .product__description,
  .product__characteristics,
  .product__price,
  .product__button {
    width: calc(~"50% - 233px");
    margin-left: 175px;
  }

  .product__description {
    margin-bottom: 45px;
  }

  .product__characteristics {
    margin-bottom: 100px;
  }
}
